@use "./mixins";

.collection-card {
  overflow: hidden;

  &__thumbnail > img {
    height: 6.5em;
    aspect-ratio: 1;
    object-fit: cover;
  }

  &__title {
    @include mixins.line-clamp();
    color: var(--bs-link-color);
    font-weight: bold;
  }

  &__description {
    @include mixins.line-clamp();
  }

  &__count-icon {
    font-size: 1.2em !important;
    margin-right: 0.3em;
  }

  &__count-text {
    font-size: 1em;
  }
}