.product-list {
  --card-width: 300px;
  --gap: 16px;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  &__card-wrapper {
    width: var(--card-width);
    flex-grow: 1;

    &--fixed {
      flex-grow: 0;
    }
  }
}