@use "./mixins";

.product-card {
  width: 100%;

  &--compact {
    .product-card__description {
      display: none;
    }

    .product-card__title {
      @include mixins.line-clamp(2);
      color: var(--bs-link-color);
    }
  }

  &__media-nav {
    display: flex;
    gap: 1.5em;
    border-bottom: 1px solid var(--bs-secondary);
  }

  &__media-nav a {
    position: relative;
    top: 1px;
    padding: 0.5em 0;
    color: var(--bs-link-color);

    &:hover {
      color: var(--bs-link-hover-color);
    }

    &.active {
      color: var(--bs-link-color);
      border-bottom: 2px solid var(--bs-link-color);

      &:hover {
        color: var(--bs-link-hover-color);
      }
    }
  }
}